.form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: transparent;
    min-height: 30px;
}

.back_btn {
    display: none;

    @media screen and (max-width: 768px), (max-height: 700px) {
        display: block;
        position: relative;
        padding: 0;
        margin: 0;
        border: none;
        background-color: transparent;
        opacity: 0.5;
        transition: opacity 0.25s ease; 
        cursor: pointer;          

        svg {
            width: 2.5rem;
            height: 2.5rem;
            fill: var(--color-offwhite-accent);
        }

        &:hover {
            opacity: 0.8;
        }
    }
}

.input {
    margin-left: .5rem;
    border: none;
    outline: none;
    flex: 1;
    background-color: transparent;
    font-size: 1.75rem;
    color: var(--color-offwhite-accent);

    &::placeholder {
        font-size: 1.65rem;
        color: var(--color-palesmoke);
        opacity: 0.75;
        //margin-bottom: 5rem;
    }

    @media screen and (max-width: 768px) {
        margin-left: 1rem;
    }
}

.clearbtn_wrapper {
    display: flex;
    border-right: 1px solid rgb(70, 70, 70);
    padding-right: .5rem;
    margin-right: 1rem;
}

.clear_btn {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    //margin-right: .5rem;
    border: none;
    //border-right: 1.5px solid var(--color-offwhite-accent);
    background-color: transparent;
    //padding-right: .5rem;
    opacity: 0.5;
    transition: opacity 0.25s ease;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
    
    svg {
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--color-offwhite-accent);
    }  
}

.platforms {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.platform_btn {
    position: relative;
    display: inline-block;
    padding: .25rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    margin: 0;
    border: none;
    opacity: 0.75;
    color: var(--color-offwhite-accent);
    transition: opacity 0.25s ease, color 0.25s ease;
    cursor: pointer;

    svg {
        width: 1.75rem;
        height: 1.75rem;
        margin: 0 auto;
    }

    &:hover {
        opacity: 0.9 !important;
    }
}

.platform_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    background-color: var(--color-palesmoke);
    transition: transform 0.25s ease;
    z-index: 0;
}