.item {
    list-style: none;
    display: flex;
    justify-content: center;
    overflow: hidden;

    a {
        display: flex;
        flex-direction: column;
        width: max-content;
        position: relative;
        align-items: center;
        justify-content: center;
    }
}

.img_wrapper {
    position: relative;
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    overflow: hidden;
    background-color: var(--bg-lightgray-accenttwo);
    border: 3px solid var(--bg-lightgray-accenttwo);
}

.name {
    font-size: 1.6rem;
    margin-top: 0.5rem;
    transition: opacity 0.25s ease;
    max-width: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}