.container {
    position: relative;
}

.button {
    font-size: 1.5rem;
    color: var(--color-az-cream);
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
    font-weight: 400;
    letter-spacing: .05em;

    border: 1px solid rgba(109, 109, 109, 0.5);
    background-color: rgba(0,0,0,.25);
    border-radius: 2rem;
    padding: .5rem 1rem;
    transition: background-color .25s ease;
    cursor: pointer;

    &:hover {
        background-color: rgba(0,0,0,.5);
    }

    @media only screen and (min-width: 1024px) {
        transition: all .1s ease;
        will-change: all;
    }
}

.button_active {
    @media only screen and (min-width: 1024px) {
        width: 400px;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        border-bottom: 0;

        justify-content: space-between;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;

    @media (min-width: 1024px) {
        width: 1.75rem;
        height: 1.75rem;
    }
}

.text {
    display: none;

    @media (min-width: 1024px) {
        display: inline-block;
        margin-left: .25rem;
    }
}

.large {
    display: none;

    @media (min-width: 1024px) {
        display: inline-flex;
    }
}

.modal {

    @media (min-width: 1024px) {
        position: absolute;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        right: 0;
        top: 33.5px;
        width: 400px;
        height: 200px;
        border-bottom: 1px solid rgba(109, 109, 109, 0.5);
        border-right: 1px solid rgba(109, 109, 109, 0.5);
        border-left: 1px solid rgba(109, 109, 109, 0.5);
        background-color: rgba(0,0,0,1);
        z-index: 10;    
    }
}