
.page {
    position: relative;
    margin-inline: auto;
    padding-bottom: 7rem;
    //padding-inline: 1rem;
    //height: 100%;

    @media only screen and (min-width: 1024px) {
        margin-top: 10rem;
        padding-bottom: 0;
    }
}