.list {
    //margin-top: 2rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1.8rem;

    padding: 0;
    list-style-type: none;
}

.item {
    list-style: none;
    
    a {
        display: inline-flex;
        align-items: center;
        font-size: 1.6rem;
        transition: opacity 0.25s ease;

        &:hover {
            opacity: 0.6;
        }
    }
}

