
.flex {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
}

.avatar {
    background-color: var(--bg-lightgray-accenttwo);
    position: relative;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 100%;
    overflow: hidden;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--font-inter);
    color: rgba(248, 246, 238, 0.75);
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .05em;
    padding-bottom: 1rem;
}

.nickname {
    font-size: 4.5rem;
    letter-spacing: .05em;
    font-weight: 900;
    font-family: var(--font-inter);
    text-transform: uppercase;
    color: #f8f6ee;
    line-height: 1;
}