

.card {
    position: relative;
    border-radius: 1rem;
    background-color: rgba(109, 109, 109, 0.6);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 2px 4px, rgba(0, 0, 0, 0.05) 0px 12px 24px;

    &:hover::before {
        opacity: 1;
    }

    &::before {
        border-radius: inherit;
        content: "";
        height: 100%;
        left: 0px;
        opacity: 0;
        position: absolute;
        top: 0px;
        transition: opacity 500ms;
        width: 100%;
    }

    &::before {
        background: radial-gradient(
          800px circle at var(--mouse-x) var(--mouse-y), 
          rgba(255, 255, 255, .05),
          transparent 40%
        );
        z-index: 1;
    }
};

.wrapper {
    position: relative;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inset: 1px;
    //background-color: #505050;
    background: linear-gradient(160deg, rgba(88,88,88,1) 0%, rgba(88,88,88,1) 38%, rgba(88,88,88,1) 60%, rgba(102,102,102,1) 100%);
    border-radius: 1rem;
}

.summary {
    grid-row-start: summary;
    grid-column-start: summary;
    grid-row-end: summary;
    grid-column-end: summary;
}

.maps {
    grid-row-start: maps;
    grid-column-start: maps;
    grid-row-end: maps;
    grid-column-end: maps;
}

.trends {
    grid-row-start: trends;
    grid-column-start: trends;
    grid-row-end: trends;
    grid-column-end: trends;
}

.weapons {
    grid-row-start: weapons;
    grid-column-start: weapons;
    grid-row-end: weapons;
    grid-column-end: weapons;
}

.operators {
    grid-row-start: operators;
    grid-column-start: operators;
    grid-row-end: operators;
    grid-column-end: operators;
}