
.card {
    display: flex;
    position: relative;
    cursor: pointer;
    padding: 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //align-items: center;
    z-index: 10;

    &:hover {
        .image_wrapper {
            filter: grayscale(0%);
            scale: 1.05;
        }
    }
}

.image_wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 307/172;
    filter: grayscale(80%);

    img {
        object-fit: contain;
        border-radius: 1rem;
        //object-position: -80%;
    }
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    position: relative;
    color: var(--color-az-cream);
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .05em;
    opacity: 0.8;
}

.mapName {
    position: relative;
    color: var(--color-az-cream);
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .05em;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-top: 1rem;
    row-gap: 1rem;
}

.grid_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid_text {
    font-size: 3rem;
    font-weight: 800;
    font-family: var(--font-inter);
    text-transform: uppercase;
    letter-spacing: .05em;
    color: var(--color-cream);
    line-height: 1;
    opacity: .8;
}

.grid_subtitle {
    color: var(--color-az-cream);
    font-weight: 400;
    letter-spacing: .05em;
    text-transform: uppercase;
    opacity: .8;
}