.button {
    background-color: transparent;
    padding: 0;
    border: none;
    overflow: hidden;
}

.bg_non {
    position: absolute;
    width: 10rem;
    height: 10rem;
}

.bg {
    position: absolute;
    width: 10rem;
    height: 10rem;
    //background: linear-gradient(45deg, rgb(255 0 0/85%),rgb(0 0 255/85%),rgb(255 255 0/85%) );
    background: linear-gradient(45deg, var(--color-royalblack),var(--bg-lightgray-accenttwo),var(--color-az-cream) );
    transform: scale(1.1);
    animation: animate 3s linear infinite;
    //filter: blur(10px);
    //backdrop-filter: blur(15px);
    border-radius: 100%;
    opacity: 0;
    transition: opacity 0.5s;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background: linear-gradient(45deg, var(--color-royalblack),var(--bg-lightgray-accenttwo),var(--color-az-cream) );
        filter: blur(5rem);
    }
}

.img_bg {
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    overflow: hidden;
    opacity: 1;
}

@keyframes animate {
    0% {
        transform: rotate(0) scale(1.1);
    }
    100% {
        transform: rotate(360deg) scale(1.1);
    }
}