.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(109, 109, 109, 0.5);
    background-color: rgba(0,0,0,.25);
    border-radius: 2rem;
    padding: .5rem 1rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.25rem;
    color: #f8f6ee;
    transition: background-color .25s;
    gap: .5rem;
    cursor: pointer;

    &:hover {
        background-color: rgba(0,0,0,.5);
    }
}

.icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    // background-color: var(--color-az-cream);
    // border-radius: 100%;
    // overflow: hidden;
    // margin-right: 1rem;
    // position: relative;
    // top: 0.25rem;
}

.text {
    display: none;

    @media (min-width: 1024px) {
        display: inline-block;
    }
}