.row {
    position: relative;
    display: block;
    width: 100%;
    padding: 2rem 0;

    @media only screen and (max-width: 768px) {
        padding: 2rem 2rem;
    }
}

.title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: var(--font-inter);
    color: var(--color-darkgray);  
    padding-bottom: 2rem;          
}