.wrapper {
    font-size: 1em;
    font-family: var(--font-inter);
    font-weight: 900;
    //letter-spacing: 0.1em;
    line-height: 1;
    text-align: center;

    span {
        transition: color 0.25s ease, background-color 0.25s ease;
    }
}


.r6 {
    padding-right: 0.25em;
    color: var(--color-lightgray); //todo
}

.index {
    background-color: var(--color-lightgray); //todo
    color: var(--bg-darkgray); //todo
    padding: 0 0.25em;
    border-radius: .5rem;
}