.wrapper {
    font-size: 1em;
    font-family: var(--Inter-Font);
    font-weight: 900;
    //letter-spacing: 0.1em;
    line-height: 1;
    text-align: center;
}


.r6 {
    padding-right: 0.25em;
    color: var(--color-offwhite); //todo
}

.index {
    background-color: var(--color-offwhite); //todo
    color: var(--background-color); //todo
    padding: 0 0.25em;
}