
.container {
    display: flex;
    padding: 0 .5rem;
    align-items: center;
    opacity: 0.8;
    // -webkit-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    // user-select: none;

    &:hover {
        opacity: 0.9;
    }

    @supports (-webkit-appearance:none) or (-moz-appearance:none) {
        input[type=checkbox]:after {
            content: "";
            display: block;
            left: 0;
            top: 0;
            position: absolute;
            opacity: 0;
            //transition: transform var(--d-t,.3s) var(--d-t-e,ease),opacity var(--d-o,.2s);
        }

        input[type=checkbox] {
            outline: none;
            height: 15px;
            width: 16px;
            color: transparent;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            display: inline-block;
            vertical-align: top;
            position: relative;
            margin: 0;
            border: 1px solid #9f9f9f;
            background-color: transparent;
            border-radius: .25rem;
            transition: background .3s, border-color .3s, box-shadow .2s;
            //transform: scale(1);
        }

        input[type=checkbox]:checked {
            background-color: #732c2f;
            border-color: transparent;
        }

        &:hover input[type=checkbox] {
            border-color: black;
        }

        &:hover input[type=checkbox]:checked {
            border-color: transparent;
        }
    }
}

.label {
    font-family: var(--font-inter);
    font-size: 1.25rem;
    font-weight: 300;
    text-transform: uppercase;
    width: 100%;
    padding: 0.5rem 1rem;
    cursor: pointer;
}