.header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    flex-direction: row;
    width: 100%;
    z-index: 100;
    padding: 3rem;
    justify-content: space-between;
    align-items: center;

    min-height: 100px;
    max-height: 100px;

    @media only screen and (max-width: 768px) {
        min-height: unset;
        padding: 1rem;
    }
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 2rem;
}

.logo {
    margin: auto 0;
    position: relative;
    font-size: 24px;
    width: max-content;
    //padding: .5rem
}

.list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    justify-content: center;
    padding: 0;
    //color: var(--color-one);
}

.button {
    position: relative;
    border-radius: .5rem;
    background-color: rgba(0,0,0,.05);
    color: inherit;
    font-family: var(--font-inter);
    font-weight: 300;
    font-size: 1.25rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .05em;
    padding: .25rem 1rem;
    margin: auto 0;
    max-height: 24px;
    border: none;
    transition: background-color .2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: rgba(0,0,0,.1);
    }
}

.soon {
    position: absolute;
    top: -1.25rem;
    right: -1rem;
    background-color: #732c2f;
    color: var(--color-one);
    font-family: var(--font-inter);
    font-weight: 300;
    font-size: .75rem;
    text-transform: uppercase;
    padding: .25rem .5rem;
    border-radius: .5rem;
}

.xl_hide {
    display: none;

    @media only screen and (max-width: 1199px) {
        display: block;
    }
}

.desktop {
    display: none;

    @media only screen and (min-width: 769px) {
        display: block;
    }
}

.disabled {
    cursor: not-allowed !important;
    pointer-events: none;
}

.flex {
    display: none;
    flex: 1;
    //background-color: aquamarine;
    padding-right: 2rem;

    @media only screen and (min-width: 1200px) {
        display: inline-flex;
    }
}

.searchbar {
    display: flex;
    width: 100%;
    max-width: 700px;
    padding: 0.5rem;
    border-radius: .5rem;
    min-height: 40px;
    background-color: var(--bg-lightgray-accentone);
}

.searchplayerbtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    //margin: auto 0;

    svg {
        width: 1.25rem;
        height: 1.25rem;
    }

    span {
        font-size: 1.25rem;
    }
}